<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.systemassembly.com/sm/dsl/SmDsl"
			class = "com.systemassembly.sm.dsl.smDsl.SmDslPackage"
			genModel = "model/generated/SmDsl.genmodel" />
	</extension>
</plugin>
